@import '../variables';
@import '../mixin';

.cars, .car-details {
    @include border-top;
}

.car-card.loading {
    .load-content {
        background-color: $color-light;
        color: $color-light;

        img {
            opacity: 0;
        }
    }
}

.car-details {
    padding: 0;
    
    .photos {
        background-color: $color-light;
        height: 160px;
    }
}