$color-white: #FFFFFF;
$color-light: #ededed;
$color-black: #4A4A4A;

$primary:       #ea7f28 !default;
$light:         $color-light !default;
$dark:          $color-black !default;

// Body
$body-bg: $color-white;
$body-color: $color-black;

// Button
$btn-border-radius: 2px;
$btn-border-width: 0;
$btn-font-weight: normal;

$spacer: 1rem !default;
$navbar-padding-y:  $spacer / 2 !default;
$navbar-padding-x:  $spacer * 1.5 !default;
$navbar-nav-link-padding-x: $spacer * 0.75 !default;

$font-size-base: 1rem !default;

$h1-font-size: $font-size-base * 2 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.125 !default;
$h4-font-size: $font-size-base * 1.125 !default;
$h5-font-size: $font-size-base * 0.875 !default;
$h6-font-size: $font-size-base * 0.75 !default;

$font-family-sans-serif: Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:      "Times New Roman", Times, serif !default;
$font-family-base:       $font-family-sans-serif !default;

$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: #d37324 !default;
$link-hover-decoration: underline !default;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15% !default;

$grid-gutter-width: 48px;

$card-spacer-x: $spacer * 1.5 !default;
$card-border-color: #ededed !default;
$input-color: #4A4A4A !default;
$input-border-color: #ededed !default;
$input-focus-box-shadow: none !default;

$paragraph-margin-bottom: 0.75 * 1rem !default;